extends layout

block content
    .container-fluid
        .row
            .col-md-8.col-md-offset-2
                .page-header(style="display:none;")
                    h1 TM = ( Q, &Sigma;, &Tau;, q0, qa, qr )
                .alert(style="display:none;")
                .jumbotron.center-block
                    h1 Turing Machine Simulator
                    p A Simple Online Turing Machine Simulator
                    input.btn.btn-primary(type="button" value="Start")
